.row {
  margin-left: 20px;
  color: white;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll; /* Ensure the element is scrollable */
  padding: 30px;
}

.row__posters::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.row__poster {
  max-height: 150px;
  object-fit: contain;
  margin-right: 30px;
  margin-bottom: 15px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row__posterLarge {
  max-height: 300px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.row > h2 {
  font-size: 2rem;
}
